<div class="views uri_contacts table">
  <table class="data sortable">
    <thead>
      <tr>
	<th><%=t('Name')%></th>
      </tr>
    </thead>
    <tbody>
      <% uri_contacts.each do |x| %>
      <tr>
	<td></td>
      </tr>
      <%  end %>
    </tbody>
    <tfoot></tfoot>
  </table>
</div>
